// Form helpers
// ---------------------------------

.webform-progress {
  // TODO: Find closest match to this gray in tokens.
  border-bottom: 2px solid color('gray-50');
  width: 100%;

  &__status {
    font-size: 16px;
    text-align: left;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }
}

// TODO: Discuss required field delineation.
.webform-required {
  display: none;
}

.description {
  .ds-h2 {
    font-weight: normal;
  }
}

.form-actions {
  &.webform-actions {
    float: right;
  }
}
