// Styling the Get Help block above the side navigation menu.
#block-get-help-block {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  // Style links as buttons
  .field--type-link {

    .field__item {
      @extend .ds-c-button;
      padding: 5px 10px;
      font-size: .8rem;
      background-color: $color-primary;
      border: 0;

       > a {
        color: white;
        text-decoration: none;
        font-weight: normal;

        &:hover {
          text-decoration: underline;
        }

        &:hover,
        &:visited,
        &:default {
          color: white;
         }
       }

       &:first-child {
         background-color: $color-warn;
         margin-right: 1.5rem;

         a {
          color: #000;
         }
       }
    }
  }
}