// Header helpers
// ---------------------------------

.ds-c-nav-container {
  display: none;
  @include at-media($theme-header-min-width) {
    @include clearfix;
    @include grid-container($theme-header-max-width);
    @include u-padding-x($theme-site-margins-width);
  }
}

.ds-c-header {
  background: linear-gradient(to bottom, #cdd5e0 -35%, white 150%);
  @include at-media($theme-header-min-width) {
    background: linear-gradient(to bottom, #cdd5e0 15%, white 125%);
  }

  .ds-c-logo__placeholder {
    img {
      display: none;
    }
    // Only show full header placeholder image for desktop.
    @include at-media($theme-header-min-width) {
      img {
        display: block;
      }
    }
  }
}

// ds-c-header--basic
// ---------------------------------

.ds-c-nav-container {
  display: none;
  @include at-media($theme-header-min-width) {
    @include clearfix;
    @include grid-container($theme-header-max-width);
    @include u-padding-x($theme-site-margins-width);
  }
}

// TODO: Change header classes to CMSDS classes.
.ds-c-header--basic {
  @include at-media($theme-header-min-width) {
    .ds-c-navbar {
      position: relative;
      width: $theme-header-logo-text-width;
    }

    .ds-c-nav {
      @include u-flex("row", "align-center", "justify-end");
      display: flex;
      padding: 0 0 units(0.5) units(1);
      width: 100%;
    }

    .ds-c-nav-container {
      @include u-flex("align-end", "justify");
      display: flex;

      img {
        max-width: unset;
      }
    }
  }
}

// ds-c-header--extended
// ---------------------------------

.ds-c-header--extended {
  @include at-media($theme-header-min-width) {
    padding-top: 0;
  }

  .ds-c-logo {
    @include at-media($theme-header-min-width) {
      font-size: font-size($theme-header-font-family, "xl");
      margin: unset;
      max-width: unset;
    }
  }

  .ds-c-navbar {
    background: url('../img/placeholders/mg-header__mobile.png') no-repeat;
    background-size: contain;
    height: 60px;
    @include at-media($theme-header-min-width) {
      @include grid-container($theme-header-max-width);
      background: none;
      display: block;
      height: auto;
      overflow: auto;
    }
  }

  .ds-c-nav {
    @include at-media($theme-header-min-width) {
      border-top: units(1px) solid color("base-lighter");
      padding: 0;
      width: 100%;
    }
  }
}

.ds-c-menu-btn {
  @include button-unstyled;
  @include u-flex("auto");
  @include u-padding-x(1.5);
  background-color: color("primary");
  color: color("white");
  display: none; // This is only temporary; we will use an icon once we make navigation decisions.
  font-size: font-size($theme-header-font-family, "3xs");
  height: units($size-touch-target);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @include at-media($theme-header-min-width) {
    display: none;
  }

  &:hover {
    background-color: color("primary-dark");
    color: color("white");
    text-decoration: none;
  }

  &:active {
    color: color("white");
  }

  &:visited {
    color: color("white");
  }
}

