.usa-sidenav {
  .usa-current {
    color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
  }

  // 3rd level current links should have green bgs.
  &__sublist {
    font-size: .9rem;

    .usa-sidenav__sublist {
      a {
        padding-left: .5rem;
        margin-left: 2.5rem;
      }

      .usa-current {
        background-color: $color-primary;
        color: white;
      }
    }
  }
}
