// Splash and landing page helpers
// ---------------------------------

// @TODO: Generalize styles with hardcoded values.

// @TODO: Replace css background image with TWIG implementation once S3 is set up.
.page-node-type-landing-page {
  // Update TWIG templates to output CMSDS class for specificity instead.
  .usa-section {
    background: url('../images/medicare-happy-couple.jpg') no-repeat;
    background-size: cover;
  }

  .block-local-tasks-block {
    padding: .5em;
  }

  .block-local-tasks-block,
  .c-mg-lp__body {
    background: rgba(255, 255, 255, 0.9);
    float: right;
  }
}
