// Put any variable overrides here. For example:
// $color-primary: #666;
// $color-primary-darker: #444;
// $color-primary-darkest: #222;

$color-primary: #204e34;
$color-primary-darker: #193324;
$color-primary-darkest: #0d1a12;

$color-primary-alt: #0071BC;
$color-primary-alt-darker: #205493;
$color-primary-alt-darkest: #112E51;
