{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
<div class="ds-c-logo" id="logo">

  {% if site_logo %}
  <a class="ds-c-logo__placeholder" href="{{ path('<front>') }}" accesskey="1" title="{{ 'Home'|t }}" aria-label="Home">
    <img src="/themes/custom/mg_wecms/assets/img/placeholders/mg-header.png" alt="{{ 'Home'|t }}" />
  </a>
  {% elseif site_name %}
  <em class="ds-c-logo__text">
    <a href="{{ path('<front>') }}" accesskey="1" title="{{ 'Home'|t }}" aria-label="Home">
      {{ site_name }}
    </a>
  </em>
  {% endif %}
  {% if site_slogan %}
    <em class="ds-c-logo__text">{{ site_slogan }}</em>
  {% endif %}

</div>
