// Helpers for styling the homepage (/front).
// ---------------------------------

// @TODO: Create a new content type and page template to avoid using body classes.
.path-frontpage {
  .region {
    // @TODO: We can create a wrapper in a new content type template to avoid using region classes.
    &.region-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @include at-media($theme-header-min-width) {
        flex-direction: row;
        justify-content: space-between;
      }

      // Target custom blocks in content region on homepage; will add more specificity here later.
      .block-block-content {
        background: color('gray-2');
        margin-bottom: 2em;
        padding: 2em;
        width: 100%;
        @include at-media($theme-header-min-width) {
          width: 48%;
        }

        ul {
          list-style: none;
          padding-left: 0;

          a {
            color: $color-primary-alt;
            font-weight: 600;
            margin-top: 1em;
            text-decoration: none;

            &:hover, &:visited {
              color: $color-primary-alt-darkest;
            }
          }
        }
      }
    }
  }
}
