<div class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img class="usa-banner__header-flag" src="{{ image_base }}/us_flag_small.png" alt="U.S. flag">
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">{{ 'An official website of the United States government' | t }}</p>
          <p class="usa-banner__header-action" aria-hidden="true">{{ 'Here’s how you know' | t }}</p>
        </div>
        <button class="usa-accordion__button usa-banner__button"
          aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">{{ 'Here’s how you know' | t }}</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ image_base }}/icon-dot-gov.svg" alt="Dot gov">
          <div class="usa-media-block__body">
            <p>
              <strong>{{ 'The .gov means it’s official.' | t }}</strong>
            </p>
            <p>
              {{ 'Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.' | t }}
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ image_base }}/icon-https.svg" alt="Https">
          <div class="usa-media-block__body">
            <p>
              <strong>{{ 'The site is secure.' | t }}</strong>
            </p>
            <p>
              {{ 'The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely' | t }}.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
