{#
/**
 * @file
 * USWDS theme implementation for status messages.
 */
#}
{% for type, messages in message_list %}
<div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>

  {% if type == 'error' %}
  <div class="usa-alert usa-alert--error">
  {% elseif type == 'warning' %}
  <div class="usa-alert usa-alert--warning">
  {% else %}
  <div class="usa-alert usa-alert--success">
  {% endif %}

    <div class="usa-alert__body">

      {% if messages|length > 1 %}
      <ul>

        {% for message in messages %}
        <li class="usa-alert__text">{{ message }}</li>
        {% endfor %}

      </ul>

      {% else %}
      <p class="usa-alert__text">
        {{ messages|first }}
      </p>
      {% endif %}

    </div>
  </div>
</div>
{% endfor %}
